@charset "UTF-8";

$mainColor: #14a3ed;
$subColor: #e1f3fd;
$accentColor: #ffa600;
$hoverColor: #ff8400;

html {
  font-size: 62.5%;
}

body {
  color: #222222;
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Arial, "Noto Sans JP",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0.025em;
  counter-reset: flow;
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.sp_only {
  display: none;
}

/*--------------
*common
----------------*/

/* inner */

.inner1020 {
  max-width: 1060px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ttl */

h2.section_title {
  color: $mainColor;
  font-size: 3.4rem;
  text-align: center;
  margin: 0 auto 64px;
  font-weight: 500;
  span {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 24px;
    font-family: "Noto";
    font-weight: 600;
    font-family: "Noto Serif JP", serif;
  }
}

h2.section_title--02 {
  text-align: left;
  max-width: 1060px;
  padding: 0 20px;
  margin: 0 auto 64px;
}

/* txt */

p {
  line-height: 2;
}

.small_txt {
  font-size: 1.2rem;
  line-height: 1.6;
}

.medium {
  font-weight: 500;
}

/* border_yellow */
.border_yellow {
  background: linear-gradient(transparent 60%, #ffee00 60%);
  display: inline;
  line-height: 1.5;
}

/* cta */
.cta {
  max-width: 930px;
  margin: 0 auto;
  &_wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 126px;
    padding: 0 20px;
    .entry,
    .contact {
      position: relative;
      border-radius: 36px;
      background: $accentColor;
      display: block;
      width: 47%;
      height: 72px;
      line-height: 72px;
      text-align: center;
      & > a {
        display: block;
        color: #fff;
        font-size: 1.7rem;
        &::before {
          content: "";
          margin-right: 14px;
          display: inline-block;
          height: 34px;
          vertical-align: middle;
        }
      }
      &:hover {
        background: $hoverColor;
      }
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        display: block;
      }
      &::before {
        background: #fff;
        width: 25px;
        height: 2px;
        right: 40px;
      }
      &::after {
        border: 2px solid #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        right: 30px;
      }
    }
    .entry {
      a {
        &::before {
          background: url("../images/icon_entry.svg") center 50% / 100% auto
            no-repeat;
          width: 42px;
          margin-left: -14px;
        }
      }
    }
    .contact {
      a {
        &::before {
          background: url("../images/icon_contact.svg") center 50% / 100% auto
            no-repeat;
          width: 51px;
        }
      }
    }
  }

  p {
    text-align: center;
    font-weight: 500;
    margin-bottom: 80px;
  }
}
/*--------------
*header
----------------*/
.header {
  background: transparent;
  .h_inner {
    h1 {
      position: absolute;
      top: 40px;
      left: 180px;
      display: inline-block;
      background: #fff;
      font-size: 1.8rem;
      color: $mainColor;
      padding: 14px 28px;
      border: 1px solid $mainColor;
      font-weight: 500;
    }
    nav {
      position: fixed;
      z-index: 9999;
      top: 0;
      right: 0;
      ul {
        display: flex;
        li {
          width: 142px;
          height: 120px;
          & + li {
            border-left: 1px solid #ffc14d;
          }
          & > a {
            height: 100%;
            background: $accentColor;
            color: #fff;
            display: block;
            text-align: center;
            padding-top: 30px;
            &:hover {
              background: $hoverColor;
            }
          }

          .h_entry,
          .h_contact {
            &::before {
              content: "";
              display: block;
              height: 34px;
              margin: 0 auto 10px;
            }
          }
          .h_entry {
            &::before {
              background: url("../images/icon_entry.svg") center 50% / 100% auto
                no-repeat;
              width: 42px;
            }
          }
          .h_contact {
            &::before {
              background: url("../images/icon_contact.svg") center 50% / 100%
                auto no-repeat;
              width: 51px;
            }
          }
        }
      }
    }
  }
}
/*--------------
*footer
----------------*/
.footer {
  position: relative;
  .f_head {
    background: $subColor;
    padding: 46px 20px 88px;
    &_inner {
      max-width: 1075px;
      margin: 0 auto;
    }
    .f_logo {
      display: inline-block;
      background: #fff;
      font-size: 1.8rem;
      color: $mainColor;
      padding: 14px 24px;
      border: 1px solid $mainColor;
      font-weight: 500;
      margin-bottom: 15px;
    }
    .privacy_policy {
      color: #222222;
      display: block;
      text-align: right;
      font-size: 1.2rem;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .f_foot {
    padding: 26px 20px 16px;
    text-align: center;
    small {
      color: #888;
      font-size: 1.2rem;
    }
  }
}
/*--------------
*pagetop
----------------*/
#page_top {
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  a {
    display: block;
    padding: 17px 21px;
    &:hover {
      opacity: 0.6;
    }
    i {
      display: inline-block;
      width: 7px;
      height: 7px;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(45deg);
    }
  }
}
/*--------------
*fv
----------------*/

.fv {
  background-image: url("../images/fv_bg.jpg");
  background-size: cover;
  background-position: top center;
  padding: 166px 0 48px;
  margin-bottom: 100px;
  &_inner {
    .catch {
      color: $mainColor;
      font-family: "Noto Serif JP", serif;
      font-size: 4.2rem;
      line-height: 1.5;
      margin-bottom: 54px;
    }
    .fv_txt {
      max-width: 430px;
      margin-bottom: 48px;
    }
    .fv_point {
      display: flex;
      justify-content: space-between;
      max-width: 564px;
      li {
        border-radius: 50%;
        border: 3px solid #fff;
        background: $mainColor;
        color: #fff;
        font-family: "Noto Serif JP", serif;
        width: 181px;
        height: 181px;
        text-align: center;
        .num {
          font-size: 1.8rem;
          display: block;
          margin: 26px 0 20px;
          &::after {
            background: #fff;
            content: "";
            display: block;
            margin: 15px auto 0;
            width: 30px;
            height: 1px;
          }
        }
        p {
          font-size: 1.8rem;
          line-height: 1.8;
        }
      }
    }
  }
}
/*--------------
*about
----------------*/
.about_lead {
  max-width: 840px;
  padding: 0 20px;
  margin: 0 auto 90px;
}
.service_list {
  display: flex;
  max-width: 1440px;
  margin: 0 auto 110px;
  .service_item {
    width: 50%;
    .service_label {
      width: 290px;
      z-index: 10;
      position: relative;
      background: $mainColor;
      padding: 28px 10px 34px;
      text-align: center;
      color: #fff;
      margin: -50px auto 0;
      .label_num {
        font-family: "Noto Serif JP", serif;
      }
      .label_ttl {
        position: relative;
        margin-top: 19px;
        font-size: 2.4rem;
        &::after {
          position: absolute;
          content: "";
          background: #98cdf8;
          display: block;
          width: 1px;
          height: 28px;
          bottom: -48px;
          left: 50%;
          transform: translateX(50%);
        }
      }
    }
    p {
      padding-top: 80px;
      width: 72%;
      margin: 0 auto;
    }
  }
}

/*--------------
*point
----------------*/

.point {
  background: $subColor;
  padding: 90px 0px 120px;
  &_list {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;

    .point_item {
      position: relative;
      background: #fff;
      padding: 40px 64px;
      margin-bottom: 40px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .item_num {
        position: absolute;
        top: 50px;
        left: 0;
        color: $mainColor;
        font-size: 1.4rem;
        font-family: "Noto Serif JP", serif;
        transform: rotate(-90deg);
      }
      .item_conts {
        display: flex;
        align-items: center;
        .point_img_wrap {
          width: 14%;
          margin-left: 34px;
        }
        .point_txt {
          width: 71%;
          margin-left: 68px;
          h3 {
            font-size: 2.2rem;
            margin-bottom: 30px;
            line-height: 1.8;
            .border_yellow {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
/*--------------
*specialists
----------------*/
.specialists {
  margin-top: 90px;
  .specialists_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    .specialists_item {
      width: 31%;
      h3 {
        margin: 24px 0 20px;
        font-size: 2.1rem;
      }
    }
  }
}

.position {
  color: $mainColor;
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 30px;
  dt {
    padding-right: 8px;
  }
  dd {
    padding-left: 8px;
    border-left: 1px solid $mainColor;
  }
}

/*--------------
*category
----------------*/

.category {
  background-size: cover;
  background-image: url(../images/bg_category.jpg);
  background-repeat: no-repeat;
  background-position: right;
  padding: 90px 0;
  .section_title {
    color: #fff;
  }
  .category_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .category_item {
      position: relative;
      background: #fff;
      border-radius: 6px;
      padding: 42px 28px 38px;
      margin-bottom: 30px;
      width: 31%;
      &::before {
        content: "“";
        color: $mainColor;
        font-size: 9rem;
        position: absolute;
        line-height: 1;
        top: -24px;
        left: 20px;
      }
      h3 {
        color: $mainColor;
        line-height: 1.6;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 1.8rem;
      }
    }
  }
  .other_issues {
    padding-top: 12px;
    color: #fff;
    font-size: 1.4rem;
    h4 {
      margin-bottom: 10px;
    }
  }
}
/*--------------
*price
----------------*/
.price {
  background: $subColor;
  padding: 82px 0 92px;
  &_list {
    display: flex;
    max-width: 970px;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: space-between;
    .price_item {
      width: 48%;
      background: #fff;
      h3 {
        background: $mainColor;
        color: #fff;
        font-size: 2rem;
        padding: 22px 6px;
        text-align: center;
      }
      ul {
        background: #fff;
        padding: 40px 40px 50px;
        line-height: 1.6;
        li {
          border-bottom: 1px solid #ddd;
          padding: 0 8px 20px;
          margin-bottom: 22px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
/*--------------
*flow
----------------*/

.flow {
  margin: 110px 0 120px;
  &_inner {
    display: flex;
    justify-content: space-between;
    .l_conts {
      width: 43%;
      h2.section_title--02 {
        padding-left: 0;
      }
    }
    .r_conts {
      width: 49%;
      .flow_list {
        border-top: 1px solid #dcdcdc;
        .flow_item {
          padding: 30px 0 40px;
          border-bottom: 1px solid #dcdcdc;
          .flow_ttl_wrap {
            position: relative;
            margin-bottom: 20px;
            padding-left: 66px;
            h3 {
              font-size: 1.9rem;
              &::before {
                position: absolute;
                counter-increment: flow;
                content: "0" counter(flow);
                border-radius: 50%;
                background: $mainColor;
                font-size: 1.6rem;
                font-family: "Noto Serif JP", serif;
                width: 44px;
                height: 44px;
                display: flex;
                top: -5px;
                left: 0;
                align-items: center;
                justify-content: center;
                color: #fff;
                line-height: 1;
                text-align: center;
              }
            }
          }
          p {
            margin-left: 66px;
          }
          .enrty_link {
            position: relative;
            border-radius: 18px;
            background: $accentColor;
            color: #fff;
            display: block;
            width: 150px;
            padding: 10px;
            font-size: 1.4rem;
            text-align: center;
            margin-left: 66px;
            &:hover {
              background: $hoverColor;
            }
            &::before,
            &::after {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              content: "";
              display: block;
            }
            &::before {
              background: #fff;
              width: 15px;
              height: 2px;
              right: 18px;
            }
            &::after {
              border: 2px solid #fff;
              border-radius: 50%;
              width: 12px;
              height: 12px;
              right: 12px;
            }
          }
        }
      }
    }
  }
}

/*--------------
*company
----------------*/

.company {
  background: #f4f4f4;
  padding: 90px 0 100px;
  margin-bottom: 100px;
  .logo_wrap {
    border: 4px solid #fff;
    width: 320px;
    margin: 0 auto;
    padding: 42px 48px;
  }
  &_conts {
    background: #fff;
    padding: 88px 130px 100px;
    margin-top: 48px;
    .company_head {
      display: flex;
      justify-content: space-between;
      .image {
        width: 36%;
      }
      .prof {
        width: 53%;
        .position {
          margin-bottom: 20px;
        }
        h3 {
          font-family: "Noto Serif JP", serif;
          font-size: 2.4rem;
          padding-bottom: 32px;
          border-bottom: 1px solid #dcdcdc;
          margin-bottom: 30px;
        }
        .prof_desc {
          line-height: 1.5;
          dt,
          dd {
            margin-bottom: 15px;
          }
          dd {
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .company_section {
      margin-top: 44px;
      h3 {
        color: $mainColor;
        font-size: 2rem;
        margin-bottom: 20px;
        font-weight: 500;
      }
      .summary_ttl {
        margin-bottom: 40px;
      }
      p {
        margin-bottom: 40px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      .summary {
        display: flex;
        flex-wrap: wrap;
        line-height: 1.8;
        justify-content: space-between;
        dt {
          width: 28%;
          padding: 42px 0;
          border-top: 1px solid #dcdcdc;
          &:last-of-type {
            border-bottom: 1px solid #dcdcdc;
          }
        }
        dd {
          width: 70%;
          padding: 42px 0;
          margin: 0;
          border-top: 1px solid #dcdcdc;
          &:last-of-type {
            border-bottom: 1px solid #dcdcdc;
          }
        }
      }
    }
  }
}
// tablet
@media screen and (max-width: 768px) {
  .header .h_inner h1 {
    left: 20px;
  }
  .fv_inner .catch {
    font-size: 3.2rem;
  }
  .category .category_list .category_item {
    width: 48%;
  }
  .company_conts {
    width: 90%;
  }
  .company_conts .company_head .prof .prof_desc dt,
  .company_conts .company_head .prof .prof_desc dd {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }
}
// sp
@media screen and (max-width: 425px) {
  /*--------------
*common-sp
----------------*/
  .sp_only {
    display: block;
  }
  /* inner-sp */

  .inner1020 {
    max-width: 425px;
  }
  /* ttl-sp */

  h2.section_title {
    max-width: 425px;
    padding: 0 20px;
    span {
      font-size: 1.8rem;
      display: block;
      margin-bottom: 24px;
      font-family: "Noto";
      font-weight: 600;
      font-family: "Noto Serif JP", serif;
    }
  }

  h2.section_title--02 {
    text-align: center;
    max-width: 425px;
  }

  /* txt-sp */

  p {
    line-height: 2;
  }

  .small_txt {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .medium {
    font-weight: 500;
  }
  /* cta-sp */
  .cta {
    padding: 0 20px;
    &_wrap {
      flex-direction: column;
      margin: 0 auto 126px;
      li {
        margin-bottom: 26px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      .entry,
      .contact {
        width: 100%;
        & > a {
          display: block;
          color: #fff;
          font-size: 1.7rem;
          &::before {
            content: "";
            margin-right: 8px;
            display: inline-block;
            height: 34px;
            vertical-align: middle;
          }
        }
        &:hover {
          background: $hoverColor;
        }
        &::before,
        &::after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          display: block;
        }
        &::before {
          background: #fff;
          width: 25px;
          height: 2px;
          right: 40px;
        }
        &::after {
          border: 2px solid #fff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          right: 30px;
        }
      }
      .entry {
        a {
          &::before {
            background: url("../images/icon_entry.svg") center 50% / 100% auto
              no-repeat;
            width: 42px;
            margin-left: -18px;
          }
        }
      }
      .contact {
        a {
          &::before {
            background: url("../images/icon_contact.svg") center 50% / 100% auto
              no-repeat;
            width: 51px;
          }
        }
      }
    }

    p {
      text-align: center;
      font-weight: 500;
      margin-bottom: 80px;
    }
  }

  /*--------------
*header-sp
----------------*/
  .header {
    .h_inner {
      h1 {
        top: 10px;
        left: 20px;
        width: 100px;
        width: 114px;
        line-height: 1.5;
        font-size: 1.3rem;
        padding: 10px;
      }
      nav {
        ul {
          display: flex;
          li {
            width: 107px;
            height: 90px;
            & > a {
              padding-top: 14px;
            }

            .h_entry,
            .h_contact {
              &::before {
                content: "";
                display: block;
                height: 34px;
                margin: 0 auto 10px;
              }
            }
            .h_entry {
              &::before {
                background: url("../images/icon_entry.svg") center 50% / 100%
                  auto no-repeat;
                width: 42px;
              }
            }
            .h_contact {
              &::before {
                background: url("../images/icon_contact.svg") center 50% / 100%
                  auto no-repeat;
                width: 51px;
              }
            }
          }
        }
      }
    }
  }
  /*--------------
*footer-sp
----------------*/
  .footer {
    .f_head {
      background: $subColor;
      padding: 68px 20px 58px;
      text-align: center;
      .f_logo {
        margin: 0 auto 36px;
      }
      .privacy_policy {
        text-align: center;
      }
    }
  }
  /*--------------
*fv-sp
----------------*/
  .fv {
    background-image: url("../images/fv_bg.jpg");
    background-size: auto 580px;
    background-repeat: no-repeat;
    background-position: top 0px right 23%;
    padding: 90px 0 0px;
    margin-bottom: 90px;
    &_inner {
      margin-top: 220px;
      .catch {
        font-size: 2.5rem;
        margin-bottom: 24px;
      }
      .fv_txt {
        max-width: 425px;
        margin-bottom: 0px;
      }
      .fv_point {
        flex-direction: column;
        margin-top: 120px;
        li {
          width: 220px;
          height: 220px;
          margin: 0 auto;
          margin-bottom: 30px;
          &:last-of-type {
            margin-bottom: 0;
          }
          .num,
          p {
            font-size: 2rem;
          }
          .num {
            margin: 36px 0 20px;
          }
        }
      }
    }
  }
  /*--------------
*about-sp
----------------*/
  .about_lead {
    padding: 0 20px;
  }
  .service_list {
    flex-direction: column;
    .service_item {
      width: 100%;
      margin-bottom: 40px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .service_label {
        width: 280px;
      }
      p {
        padding: 30px 20px 0;
        width: 100%;
      }
    }
  }

  /*--------------
*point-sp
----------------*/

  .point {
    &_list {
      padding: 0 20px;
      .point_item {
        position: relative;
        background: #fff;
        padding: 34px 22px 42px;
        margin-bottom: 40px;
        &:last-of-type {
          margin-bottom: 0;
        }
        .item_num {
          display: none;
        }
        .item_conts {
          flex-direction: column;
          .point_img_wrap {
            width: 32%;
            margin-bottom: 40px;
            margin-left: 0px;
          }
          .point_txt {
            width: 100%;
            margin-left: 0;
            h3 {
              margin-bottom: 36px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  /*--------------
*specialists-sp
----------------*/
  .specialists {
    .specialists_list {
      flex-direction: column;
      .specialists_item {
        width: 100%;
        margin-bottom: 60px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  /*--------------
*category-sp
----------------*/

  .category {
    .category_list {
      flex-direction: column;
      .category_item {
        width: 100%;
        &::before {
          content: "“";
          color: $mainColor;
          font-size: 9rem;
          position: absolute;
          line-height: 1;
          top: -24px;
          left: 20px;
        }
      }
    }
  }
  /*--------------
*price-sp
----------------*/
  .price {
    &_list {
      flex-direction: column;
      .price_item {
        width: 100%;
        margin-bottom: 56px;
      }
    }
  }

  /*--------------
*flow-sp
----------------*/

  .flow {
    &_inner {
      flex-direction: column;
      .l_conts {
        width: 100%;
        h2.section_title--02 {
          padding-left: 20px;
        }
        p {
          margin-bottom: 46px;
        }
      }
      .r_conts {
        width: 100%;
        .flow_list {
          .flow_item {
            .flow_ttl_wrap {
              padding-left: 46px;
              h3 {
                font-size: 1.5rem;
                &::before {
                  font-size: 1.4rem;
                  width: 36px;
                  height: 36px;
                }
              }
            }
            p {
              margin-left: 46px;
            }
            .enrty_link {
              margin-left: 46px;
              width: auto;
            }
          }
        }
      }
    }
  }

  /*--------------
*company-sp
----------------*/

  .company {
    .logo_wrap {
      border: 4px solid #fff;
      width: 280px;
      margin: 0 auto;
      padding: 42px 48px;
    }
    &_conts {
      background: #fff;
      padding: 60px 28px 46px;
      .company_head {
        flex-direction: column;
        .image {
          width: 100%;
        }
        .prof {
          margin-top: 24px;
          width: 100%;
          .prof_desc {
            dt,
            dd {
              font-size: 1.5rem;
            }
          }
        }
      }
      .company_section {
        margin-top: 64px;
        h3 {
          color: $mainColor;
          font-size: 2rem;
          margin-bottom: 34px;
          font-weight: 500;
        }
        p {
          margin-bottom: 40px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        .summary {
          flex-direction: column;
          dt {
            width: 100%;
            padding: 20px 0 14px;
            border-top: none;
            &:first-of-type {
              border-top: 1px solid #dcdcdc;
            }
            &:last-of-type {
              border-bottom: none;
            }
          }
          dd {
            width: 100%;
            padding: 0px 0 20px;
            border-top: none;
            border-bottom: 1px solid #dcdcdc;
          }
        }
      }
    }
  }
}
