@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #222222;
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Arial, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0.025em;
  counter-reset: flow;
}

img {
  width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sp_only {
  display: none;
}

/*--------------
*common
----------------*/
/* inner */
.inner1020 {
  max-width: 1060px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ttl */
h2.section_title {
  color: #157bd1;
  font-size: 3.4rem;
  text-align: center;
  margin-bottom: 64px;
  font-weight: 500;
}

h2.section_title span {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 24px;
  font-family: "Noto";
  font-weight: 600;
  font-family: "Noto Serif JP", serif;
}

h2.section_title--02 {
  text-align: left;
  max-width: 1060px;
  padding: 0 20px;
  margin: 0 auto 64px;
}

/* txt */
p {
  line-height: 2;
}

.small_txt {
  font-size: 1.2rem;
  line-height: 1.6;
}

.medium {
  font-weight: 500;
}

/* border_yellow */
.border_yellow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #ffee00));
  background: -webkit-linear-gradient(transparent 60%, #ffee00 60%);
  background: linear-gradient(transparent 60%, #ffee00 60%);
  display: inline;
  line-height: 1.5;
}

/* cta */
.cta {
  max-width: 930px;
  margin: 0 auto;
}

.cta_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 126px;
}

.cta_wrap .entry,
.cta_wrap .contact {
  position: relative;
  border-radius: 36px;
  background: #ffa600;
  display: block;
  width: 47%;
  height: 72px;
  line-height: 72px;
  text-align: center;
}

.cta_wrap .entry > a,
.cta_wrap .contact > a {
  display: block;
  color: #fff;
  font-size: 1.7rem;
}

.cta_wrap .entry > a::before,
.cta_wrap .contact > a::before {
  content: "";
  margin-right: 14px;
  display: inline-block;
  height: 34px;
  vertical-align: middle;
}

.cta_wrap .entry:hover,
.cta_wrap .contact:hover {
  background: #ff8400;
}

.cta_wrap .entry::before, .cta_wrap .entry::after,
.cta_wrap .contact::before,
.cta_wrap .contact::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
}

.cta_wrap .entry::before,
.cta_wrap .contact::before {
  background: #fff;
  width: 25px;
  height: 2px;
  right: 40px;
}

.cta_wrap .entry::after,
.cta_wrap .contact::after {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 30px;
}

.cta_wrap .entry a::before {
  background: url("../images/icon_entry.svg") center 50%/100% auto no-repeat;
  width: 42px;
}

.cta_wrap .contact a::before {
  background: url("../images/icon_contact.svg") center 50%/100% auto no-repeat;
  width: 51px;
}

.cta p {
  text-align: center;
  font-weight: 500;
  margin-bottom: 80px;
}

/*--------------
*header
----------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 120px;
  background: transparent;
}

.header .h_inner {
  height: 100%;
  position: relative;
}

.header .h_inner h1 {
  position: absolute;
  top: 40px;
  left: 100px;
  display: inline-block;
  width: 153px;
  height: 46px;
  font-size: 1.8rem;
  color: #157bd1;
  padding: 14px 28px;
  border: 1px solid #157bd1;
}

.header .h_inner nav {
  position: absolute;
  top: 0;
  right: 0;
}

.header .h_inner nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header .h_inner nav ul li {
  width: 142px;
  height: 120px;
}

.header .h_inner nav ul li + li {
  border-left: 1px solid #ffc14d;
}

.header .h_inner nav ul li > a {
  height: 100%;
  background: #ffa600;
  color: #fff;
  display: block;
  text-align: center;
  padding-top: 30px;
}

.header .h_inner nav ul li > a:hover {
  background: #ff8400;
}

.header .h_inner nav ul li .h_entry::before,
.header .h_inner nav ul li .h_contact::before {
  content: "";
  display: block;
  height: 34px;
  margin: 0 auto 10px;
}

.header .h_inner nav ul li .h_entry::before {
  background: url("../images/icon_entry.svg") center 50%/100% auto no-repeat;
  width: 42px;
}

.header .h_inner nav ul li .h_contact::before {
  background: url("../images/icon_contact.svg") center 50%/100% auto no-repeat;
  width: 51px;
}

/*--------------
*footer
----------------*/
.footer {
  background: #4ca3ed;
  padding: 56px 20px 20px;
}

.footer .f_inner {
  max-width: 1124px;
  margin: 0 auto;
}

.footer .f_inner .f_logo {
  color: #fff;
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.footer .f_inner .f_foot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer .f_inner .f_foot small,
.footer .f_inner .f_foot .privacy_policy {
  color: #fff;
  font-size: 1.2rem;
}

.footer .f_inner .f_foot .privacy_policy {
  display: inline-block;
  margin: 0 0 0 auto;
}

/*--------------
*fv
----------------*/
.fv {
  background-image: url("../images/fv_bg.jpg");
  background-size: cover;
  background-position: top center;
  padding: 166px 0 48px;
  margin-bottom: 100px;
}

.fv_inner .catch {
  color: #157bd1;
  font-family: "Noto Serif JP", serif;
  font-size: 4.2rem;
  line-height: 1.5;
  margin-bottom: 54px;
}

.fv_inner .fv_txt {
  max-width: 430px;
  margin-bottom: 48px;
}

.fv_inner .fv_point {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 670px;
}

.fv_inner .fv_point li {
  border-radius: 50%;
  border: 3px solid #fff;
  background: #4ca3ed;
  color: #fff;
  font-family: "Noto Serif JP", serif;
  width: 210px;
  height: 210px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.fv_inner .fv_point li .num {
  font-size: 1.8rem;
  display: inline-block;
  margin-bottom: 18px;
}

.fv_inner .fv_point li h3 {
  position: relative;
  border-bottom: 1px solid #98cdf8;
  font-size: 2.1rem;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.fv_inner .fv_point li h3::after {
  position: absolute;
  bottom: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 6.5px 0 6.5px;
  border-color: #98cdf8 transparent transparent transparent;
}

.fv_inner .fv_point li p {
  padding-top: 10px;
  font-size: 3.2rem;
  line-height: 1;
}

.fv_inner .fv_point li p span {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

/*--------------
*about
----------------*/
.about_lead {
  max-width: 800px;
  margin: 0 auto 90px;
}

.service_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto 110px;
}

.service_list .service_item {
  width: 50%;
}

.service_list .service_item .service_label {
  width: 290px;
  z-index: 10;
  position: relative;
  background: #4ca3ed;
  padding: 28px 10px 34px;
  text-align: center;
  color: #fff;
  margin: -50px auto 0;
}

.service_list .service_item .service_label .label_num {
  font-family: "Noto Serif JP", serif;
}

.service_list .service_item .service_label .label_ttl {
  position: relative;
  margin-top: 19px;
  font-size: 2.4rem;
}

.service_list .service_item .service_label .label_ttl::after {
  position: absolute;
  content: "";
  background: #98cdf8;
  display: block;
  width: 1px;
  height: 28px;
  bottom: -48px;
  left: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.service_list .service_item p {
  padding-top: 80px;
  width: 72%;
  margin: 0 auto;
}

/*--------------
*point
----------------*/
.point {
  background: #e1f3fd;
  padding: 90px 0px 120px;
}

.point_list {
  max-width: 930px;
  margin: 0 auto;
}

.point_list .point_item {
  position: relative;
  background: #fff;
  padding: 40px 64px;
  margin-bottom: 40px;
}

.point_list .point_item:last-of-type {
  margin-bottom: 0;
}

.point_list .point_item .item_num {
  position: absolute;
  top: 50px;
  left: 0;
  color: #157bd1;
  font-size: 1.4rem;
  font-family: "Noto Serif JP", serif;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.point_list .point_item .item_conts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.point_list .point_item .item_conts .point_img_wrap {
  width: 25%;
}

.point_list .point_item .item_conts .point_img_wrap img {
  border-radius: 50%;
}

.point_list .point_item .item_conts .point_txt {
  width: 71%;
}

.point_list .point_item .item_conts .point_txt h3 {
  font-size: 2.2rem;
  margin-bottom: 38px;
}

.point_list .point_item .item_conts .point_txt p {
  margin-top: 24px;
}

/*--------------
*specialists
----------------*/
.specialists {
  margin-top: 90px;
}

.specialists .specialists_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.specialists .specialists_list .specialists_item {
  width: 29%;
}

.specialists .specialists_list .specialists_item h3 {
  margin: 24px 0 20px;
  font-size: 2.1rem;
}

.position {
  color: #157bd1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.position dt {
  padding-right: 8px;
}

.position dd {
  padding-left: 8px;
  border-left: 1px solid #157bd1;
}

/*--------------
*category
----------------*/
.category {
  background: #4ca3ed;
  padding: 90px 0;
}

.category .section_title {
  color: #fff;
}

.category .category_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.category .category_list .category_item {
  position: relative;
  background: #fff;
  border-radius: 6px;
  padding: 42px 28px 38px;
  margin-bottom: 30px;
  width: 31%;
}

.category .category_list .category_item::before {
  content: "“";
  color: #157bd1;
  font-size: 9rem;
  position: absolute;
  line-height: 1;
  top: -24px;
  left: 20px;
}

.category .category_list .category_item h3 {
  color: #157bd1;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 1.8rem;
}

/*--------------
*flow
----------------*/
.flow {
  margin: 110px 0 120px;
}

.flow_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flow_inner .l_conts {
  width: 43%;
}

.flow_inner .l_conts h2.section_title--02 {
  padding-left: 0;
}

.flow_inner .r_conts {
  width: 49%;
}

.flow_inner .r_conts .flow_list {
  border-top: 1px solid #dcdcdc;
}

.flow_inner .r_conts .flow_list .flow_item {
  padding: 30px 0 40px;
  border-bottom: 1px solid #dcdcdc;
}

.flow_inner .r_conts .flow_list .flow_item .flow_ttl_wrap {
  position: relative;
  margin-bottom: 20px;
  padding-left: 66px;
}

.flow_inner .r_conts .flow_list .flow_item .flow_ttl_wrap h3 {
  font-size: 1.9rem;
}

.flow_inner .r_conts .flow_list .flow_item .flow_ttl_wrap h3::before {
  position: absolute;
  counter-increment: flow;
  content: "0" counter(flow);
  border-radius: 50%;
  background: #4ca3ed;
  font-size: 1.6rem;
  font-family: "Noto Serif JP", serif;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: -5px;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  line-height: 1;
  text-align: center;
}

.flow_inner .r_conts .flow_list .flow_item p {
  margin-left: 66px;
}

.flow_inner .r_conts .flow_list .flow_item .enrty_link {
  position: relative;
  border-radius: 18px;
  background: #ffa600;
  color: #fff;
  display: block;
  width: 150px;
  padding: 10px;
  font-size: 1.4rem;
  text-align: center;
  margin-left: 66px;
}

.flow_inner .r_conts .flow_list .flow_item .enrty_link:hover {
  background: #ff8400;
}

.flow_inner .r_conts .flow_list .flow_item .enrty_link::before, .flow_inner .r_conts .flow_list .flow_item .enrty_link::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
}

.flow_inner .r_conts .flow_list .flow_item .enrty_link::before {
  background: #fff;
  width: 15px;
  height: 2px;
  right: 18px;
}

.flow_inner .r_conts .flow_list .flow_item .enrty_link::after {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  right: 12px;
}

/*--------------
*company
----------------*/
.company {
  background: #f4f4f4;
  padding: 90px 0 100px;
  margin-bottom: 100px;
}

.company .logo_wrap {
  border: 4px solid #fff;
  width: 320px;
  margin: 0 auto;
  padding: 42px 48px;
}

.company_conts {
  background: #fff;
  padding: 88px 110px 100px;
  margin-top: 48px;
}

.company_conts .company_head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company_conts .company_head .image {
  width: 37%;
}

.company_conts .company_head .prof {
  width: 55%;
}

.company_conts .company_head .prof .position {
  margin-bottom: 20px;
}

.company_conts .company_head .prof h3 {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  padding-bottom: 32px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 30px;
}

.company_conts .company_head .prof .career {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company_conts .company_head .prof .career dt {
  width: 12%;
  margin-bottom: 20px;
  font-weight: 500;
}

.company_conts .company_head .prof .career dt:last-of-type {
  margin-bottom: 0;
}

.company_conts .company_head .prof .career dd {
  width: 84%;
}

.company_conts .company_section {
  margin-top: 64px;
}

.company_conts .company_section h3 {
  color: #157bd1;
  font-size: 2rem;
  margin-bottom: 34px;
  font-weight: 500;
}

.company_conts .company_section p {
  margin-bottom: 40px;
}

.company_conts .company_section p:last-of-type {
  margin-bottom: 0;
}

.company_conts .company_section .summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  line-height: 1.5;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company_conts .company_section .summary dt {
  width: 28%;
  padding: 42px 0;
  border-top: 1px solid #dcdcdc;
}

.company_conts .company_section .summary dt:last-of-type {
  border-bottom: 1px solid #dcdcdc;
}

.company_conts .company_section .summary dd {
  width: 70%;
  padding: 42px 0;
  margin: 0;
  border-top: 1px solid #dcdcdc;
}

.company_conts .company_section .summary dd:last-of-type {
  border-bottom: 1px solid #dcdcdc;
}

@media screen and (max-width: 426px) {
  /*--------------
*common-sp
----------------*/
  /* inner-sp */
  .inner1020 {
    max-width: 425px;
  }
  /* ttl-sp */
  h2.section_title {
    max-width: 425px;
    padding: 0 20px;
  }
  h2.section_title span {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 24px;
    font-family: "Noto";
    font-weight: 600;
    font-family: "Noto Serif JP", serif;
  }
  h2.section_title--02 {
    text-align: center;
    max-width: 425px;
  }
  /* txt-sp */
  p {
    line-height: 2;
  }
  .small_txt {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .medium {
    font-weight: 500;
  }
  /* cta-sp */
  .cta {
    padding: 0 20px;
  }
  .cta_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 126px;
  }
  .cta_wrap li {
    margin-bottom: 26px;
  }
  .cta_wrap li:last-of-type {
    margin-bottom: 0;
  }
  .cta_wrap .entry,
  .cta_wrap .contact {
    width: 100%;
  }
  .cta_wrap .entry > a,
  .cta_wrap .contact > a {
    display: block;
    color: #fff;
    font-size: 1.7rem;
  }
  .cta_wrap .entry > a::before,
  .cta_wrap .contact > a::before {
    content: "";
    margin-right: 14px;
    display: inline-block;
    height: 34px;
    vertical-align: middle;
  }
  .cta_wrap .entry:hover,
  .cta_wrap .contact:hover {
    background: #ff8400;
  }
  .cta_wrap .entry::before, .cta_wrap .entry::after,
  .cta_wrap .contact::before,
  .cta_wrap .contact::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    content: "";
    display: block;
  }
  .cta_wrap .entry::before,
  .cta_wrap .contact::before {
    background: #fff;
    width: 25px;
    height: 2px;
    right: 40px;
  }
  .cta_wrap .entry::after,
  .cta_wrap .contact::after {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: 30px;
  }
  .cta_wrap .entry a::before {
    background: url("../images/icon_entry.svg") center 50%/100% auto no-repeat;
    width: 42px;
  }
  .cta_wrap .contact a::before {
    background: url("../images/icon_contact.svg") center 50%/100% auto no-repeat;
    width: 51px;
  }
  .cta p {
    text-align: center;
    font-weight: 500;
    margin-bottom: 80px;
  }
  /*--------------
*header-sp
----------------*/
  .header .h_inner h1 {
    top: 20px;
    left: 20px;
    display: inline-block;
    width: 120px;
    height: 46px;
    font-size: 1.6rem;
    padding: 14px;
  }
  .header .h_inner nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header .h_inner nav ul li {
    width: 107px;
    height: 90px;
  }
  .header .h_inner nav ul li > a {
    padding-top: 14px;
  }
  .header .h_inner nav ul li .h_entry::before,
  .header .h_inner nav ul li .h_contact::before {
    content: "";
    display: block;
    height: 34px;
    margin: 0 auto 10px;
  }
  .header .h_inner nav ul li .h_entry::before {
    background: url("../images/icon_entry.svg") center 50%/100% auto no-repeat;
    width: 42px;
  }
  .header .h_inner nav ul li .h_contact::before {
    background: url("../images/icon_contact.svg") center 50%/100% auto no-repeat;
    width: 51px;
  }
  /*--------------
*footer-sp
----------------*/
  .footer {
    padding-top: 38px;
  }
  .footer .f_inner .f_logo {
    text-align: center;
  }
  .footer .f_inner .f_foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .f_inner .f_foot small {
    text-align: center;
  }
  .footer .f_inner .f_foot .privacy_policy {
    margin: 0 auto 46px;
  }
  /*--------------
*fv-sp
----------------*/
  .fv {
    background-image: url("../images/fv_bg.jpg");
    background-size: auto 580px;
    background-repeat: no-repeat;
    background-position: top 0px right 23%;
    padding: 90px 0 0px;
    margin-bottom: 90px;
  }
  .fv_inner {
    margin-top: 220px;
  }
  .fv_inner .catch {
    font-size: 2.6rem;
    margin-bottom: 24px;
  }
  .fv_inner .fv_txt {
    max-width: 425px;
    margin-bottom: 0px;
  }
  .fv_inner .fv_point {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 160px;
  }
  .fv_inner .fv_point li {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  /*--------------
*about-sp
----------------*/
  .about_lead {
    padding: 0 20px;
  }
  .service_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service_list .service_item {
    width: 100%;
    margin-bottom: 40px;
  }
  .service_list .service_item:last-of-type {
    margin-bottom: 0;
  }
  .service_list .service_item .service_label {
    width: 280px;
  }
  .service_list .service_item p {
    padding: 30px 20px 0;
    width: 100%;
  }
  /*--------------
*point-sp
----------------*/
  .point_list {
    padding: 0 20px;
  }
  .point_list .point_item {
    position: relative;
    background: #fff;
    padding: 22px 22px 42px;
    margin-bottom: 40px;
  }
  .point_list .point_item:last-of-type {
    margin-bottom: 0;
  }
  .point_list .point_item .item_num {
    display: none;
  }
  .point_list .point_item .item_conts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .point_list .point_item .item_conts .point_img_wrap {
    width: 54%;
    margin-bottom: 40px;
  }
  .point_list .point_item .item_conts .point_txt {
    width: 100%;
  }
  .point_list .point_item .item_conts .point_txt h3 {
    margin-bottom: 36px;
    text-align: center;
  }
  /*--------------
*specialists-sp
----------------*/
  .specialists .specialists_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .specialists .specialists_list .specialists_item {
    width: 100%;
    margin-bottom: 60px;
  }
  .specialists .specialists_list .specialists_item:last-of-type {
    margin-bottom: 0;
  }
  /*--------------
*category-sp
----------------*/
  .category .category_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .category .category_list .category_item {
    width: 100%;
  }
  .category .category_list .category_item::before {
    content: "“";
    color: #157bd1;
    font-size: 9rem;
    position: absolute;
    line-height: 1;
    top: -24px;
    left: 20px;
  }
  /*--------------
*flow-sp
----------------*/
  .flow_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flow_inner .l_conts {
    width: 100%;
  }
  .flow_inner .l_conts h2.section_title--02 {
    padding-left: 20px;
  }
  .flow_inner .l_conts p {
    margin-bottom: 46px;
  }
  .flow_inner .r_conts {
    width: 100%;
  }
  .flow_inner .r_conts .flow_list .flow_item .flow_ttl_wrap {
    padding-left: 46px;
  }
  .flow_inner .r_conts .flow_list .flow_item .flow_ttl_wrap h3 {
    font-size: 1.5rem;
  }
  .flow_inner .r_conts .flow_list .flow_item .flow_ttl_wrap h3::before {
    font-size: 1.4rem;
    width: 36px;
    height: 36px;
  }
  .flow_inner .r_conts .flow_list .flow_item p {
    margin-left: 46px;
  }
  .flow_inner .r_conts .flow_list .flow_item .enrty_link {
    margin-left: 46px;
    width: auto;
  }
  /*--------------
*company-sp
----------------*/
  .company .logo_wrap {
    border: 4px solid #fff;
    width: 280px;
    margin: 0 auto;
    padding: 42px 48px;
  }
  .company_conts {
    background: #fff;
    padding: 60px 28px 46px;
    width: 90%;
  }
  .company_conts .company_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .company_conts .company_head .image {
    width: 100%;
  }
  .company_conts .company_head .prof {
    margin-top: 24px;
    width: 100%;
  }
  .company_conts .company_head .prof .career {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .company_conts .company_head .prof .career dt {
    width: 100%;
    margin-bottom: 10px;
  }
  .company_conts .company_head .prof .career dd {
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .company_conts .company_section {
    margin-top: 64px;
  }
  .company_conts .company_section h3 {
    color: #157bd1;
    font-size: 2rem;
    margin-bottom: 34px;
    font-weight: 500;
  }
  .company_conts .company_section p {
    margin-bottom: 40px;
  }
  .company_conts .company_section p:last-of-type {
    margin-bottom: 0;
  }
  .company_conts .company_section .summary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .company_conts .company_section .summary dt {
    width: 100%;
    padding: 20px 0 14px;
    border-top: none;
  }
  .company_conts .company_section .summary dt:first-of-type {
    border-top: 1px solid #dcdcdc;
  }
  .company_conts .company_section .summary dt:last-of-type {
    border-bottom: none;
  }
  .company_conts .company_section .summary dd {
    width: 100%;
    padding: 0px 0 20px;
    border-top: none;
    border-bottom: 1px solid #dcdcdc;
  }
}
/*# sourceMappingURL=style.css.map */