@charset "Shift_JIS";

/* 要素リセット */
body
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 75%;
    font-family: 'メイリオ' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
    color: #666666; /* 標準文字色 */
    background-color: #ECEDEC;
    background-image : url(bg_10Bc.png);
    background-position: top center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
/* Safari用ハック 文字サイズ調整 */
/*\*/
html:\66irst-child body
{
    font-size: 70%;
}
/* end */

img
{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

/*--------------------------------------------------------
  レイアウト設定
--------------------------------------------------------*/
#hpb-container
{
    margin-top: -1px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    position: relative;
    background-image : url(headerBg_10Bc_01.png);
    background-position: top left;
    background-repeat: repeat-x;
    min-width: 900px;
    zoom: 1;
}

#hpb-container:after
{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-header
{
    width: 900px;
    height: 87px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#hpb-inner
{
    width: 900px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 85px;
    padding-bottom: 20px;
    zoom: 1;
}

* html .hpb-layoutset-01 #hpb-inner
{
    /* for IE6 レイアウト崩れに対応するために背景にメインイメージを配置 */
    background-image : url(mainimg_10Bc.png);
    background-position: 10px 85px;
    background-repeat: no-repeat;
}

#hpb-inner:after
{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-wrapper
{
    width: 630px;
    margin-left: 0;
    margin-right: 0;
    float: right;
}

* html .hpb-layoutset-01 #hpb-wrapper
{
    padding-top: 290px; /* for IE6 */
}


#hpb-title
{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.hpb-layoutset-01 #hpb-title
{
    width: 900px;
    margin-left: -270px;
    height: 280px;
}

* html .hpb-layoutset-01 #hpb-title
{
    /* for IE6 */
    display: none;
}

.hpb-layoutset-02 #hpb-title
{
    width: 605px;
    margin-left: 0;
    margin-right: auto;
    padding-top: 10px;
}

#hpb-main
{
    padding-bottom: 0px;
}

.hpb-layoutset-01 #hpb-main
{
    width: 580px;
    margin-left: auto;
    margin-right: auto;
}

.hpb-layoutset-02 #hpb-main
{
    width: 605px;
    margin-right: auto;
    margin-left: 0;
    margin-top: 0;
}

#hpb-aside
{
    width: 235px;
    float: left;
}

.hpb-layoutset-01 #hpb-aside
{
    margin-top: 285px;
}

.hpb-layoutset-02 #hpb-aside
{
    margin-top: 10px;
}

#hpb-footer
{
    clear: both;
    width: 901px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

#hpb-nav
{
    position: absolute;
    left: 0px;
    top: 5px;
    height: 69px;
    width: 900px;
    overflow: hidden;
}


/*--------------------------------------------------------
  デザイン設定
--------------------------------------------------------*/
/* 背景設定 */

/* コンテンツ配置領域 */
/* トップページメインイメージ */
.hpb-layoutset-01 #hpb-title h2
{
    width: 880px;
    margin-right: auto;
    margin-left: auto;
    height: 263px;
    background-image : url(mainimg_10Bc.png);
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #81CE4D;
}


/* ナビゲーション */
#hpb-nav ul
{
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    overflow: hidden;
}

#hpb-nav ul:after
{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-nav li
{
    display: block;
    width: 180px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    overflow: hidden;
}

#hpb-nav li a
{
    display: block;
    height: 68px;
    overflow: hidden;
    background-image : url(navBg_10Bc.png);
    background-position: top left;
    background-repeat: no-repeat;
    color: #666666;
    padding-left: 20px;
    padding-right: 10px;
}

#hpb-nav li#nav-toppage a
{
    background-position: -1px 0px;
}
/* トップページは白線を削除 */

#hpb-nav li span.en
{
    display: block;
    line-height: 10px;
    font-size: 10px;
    text-transform: uppercase;
}

#hpb-nav li span.ja
{
    display: block;
    font-size: 15px;
    line-height: 21px;
    padding-top: 15px;
}

#hpb-nav a:link
{
    text-decoration: none;
}
#hpb-nav a:visited
{
    text-decoration: none;
}
#hpb-nav a:hover
{
    text-decoration: none;
    background-color: #ffffff;
}
#hpb-nav a:active
{
    text-decoration: none;
    background-color: #ffffff;
}

/*--------------------------------------------------------
  共通パーツデザイン設定
--------------------------------------------------------*/
#shopinfo
{
}

#banner
{
    margin-right: auto;
}
