@charset "Shift_JIS";

/*--------------------------------------------------------
  フルCSSプロフェッショナルテンプレート部品設定
--------------------------------------------------------*/

.hpb-parts-cnt-style {
    border-color: #eeefef;
    text-align: left !important;
}

.hpb-parts-hl-style {
    margin-top: 15px !important;
    padding: 5px 0.2em !important;
    background-image: none !important;
    background-color: #ffffff !important;
    border-color: #81CE4D;
}

.hpb-parts-cbox-style {
    border-color: #eeefef;
}

.hpb-parts-img-01 {
    margin: 0px !important;
}

.hpb-parts-img-02 {
    margin: 0px !important;
}

.hpb-parts-hr-style {
    border-color: #eeefef;
}

.hpb-parts-pbox-style {
    border-color: #eeefef;
}
.hpb-parts-pbox-style h4 {
    padding: 0px;
}
.hpb-parts-pbox-style img {
    margin: 0px !important;
}

.hpb-parts-blist-style {
    border-color: #81CE4D;
}
a.hpb-parts-blist-style:link {
    color: #666666;
}
a.hpb-parts-blist-style:visited {
    color: #666666;
}
a.hpb-parts-blist-style:hover {
    color: #81CE4D;
}
a.hpb-parts-blist-style:active {
    color: #81CE4D;
}

/*--------------------------------------------------------
  ユーザー設定スタイル
--------------------------------------------------------*/
